.map{
  width: 40%;
  height: 100%;
  display: inline;
  margin: 10px;
}
.items{
  width: 40%;
  height: 500px;
  display: inline;
  margin: 10px;
}
.items img{
  width: 40%;
}

.item1{
  width: 100%
  height 800px;
  border: 2px solic black;
}

.pictureSelector{

  overflow: hidden;
  width: 100%
  height:100px;
  color: blue;
}
.pic{
  position: relative;
  left: auto;
}
