body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin: 0;
text-align: center;
}
h2{
  display: block;
  margin: 30px auto;
}
header{
  height: 40px;

background: rgba(18, 76, 96, 0.5);
}
.fix{
  position: sticky;
  top: 0;
  z-index: 9999;
}
header::after{
  content: '';
  display: table;
  clear: both;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  margin-left: 35px;
  padding-top: 10px;

  position: relative;

}
nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
}
nav a:hover{
  color: #363062;
}
nav a::before{
  content: '';
  display: block;
  height: 5px;
  width: 0%;
  background-color: black;
  position: absolute;
  top: 0;

  transition: all ease-in-out 250ms;
}
nav a:hover::before{
  width: 100%;
}

.container{
  width: 80%;
  margin: 0 auto;

}
.title{
  margin: 50px auto 10px auto;
}
.navbar{
  margin-bottom: 20px;
}
.mainLogo{
  width: 40%;
}

.containerMain{
  margin: 30px auto;
  background-image:url(backLogoTrans.jpg);
    background-position:center;
    background-repeat: no-repeat;
    height: 700px;
    width: 60%;
}
.servicesPic{

  width: 25%;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;

}
.listingsPic{
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.aboutDiv{
  display: block;
  margin: 20px auto;

}
.servicesDiv{
  display: block;
  margin-top: 30px;

}
.listingsDiv{
  display: block;

}

.space{
  height: 18%;
}


.instagram-media{
  text-align: center;
}



.bannerArea{
width: 100%;
height: 150px;
margin-top:30px;
}
.slidershow{
  width: 50%;
  height: 150px;
  overflow: hidden;
}
.middle{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid white;
  margin: 10px;
  cursor: pointer;
  transition: 0.6s;
}
.bar:hover{
  background: rgba(255, 255, 255, 0.7);
}
input[name="r"]{
  position: absolute;
  visibility: hidden;

}
.slides{
  width: 400%;
  height: 100%;
  display: flex;
}
.slide{
  width: 25%;
  transition: 0.8s;
}
.slide img{
  width: 100%;
  height: 100%;
}
#r1:checked~.s1{
  margin-left: 0
}
#r2:checked~.s1{
  margin-left: -25%;
}
#r3:checked~.s1{
  margin-left: -50%;
}
#r4:checked~.s1{
  margin-left: -75%;
}
