p {
  font-size: 1.3em;
}

h2 {
  font-size: 1.8em;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: grey;
  border-width: 10px;
  height: 0px;
  width: 10%;
}

/* Image slideshow */
.bannerArea {
  width: 100%;
  height: 450px;
  margin-top: 0px;
  z-index: -1;
  padding: 0;
}

.slidershow {
  top: 0;
  width: 100%;
  height: 450px;
  overflow: hidden;
  padding: 0;
}

.middle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid white;
  margin: 10px;
  cursor: pointer;
  transition: 0.6s;
}

.bar:hover {
  background: rgba(255, 255, 255, 0.7);
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
}

.slide {
  width: 25%;
  transition: 0.8s;
  position: sticky;
}

.slide img {
  width: 100%;
  height: auto;
}

#r1:checked~.s1 {
  margin-left: 0
}

#r2:checked~.s1 {
  margin-left: -25%;
}

#r3:checked~.s1 {
  margin-left: -50%;
}

#r4:checked~.s1 {
  margin-left: -75%;
}

/* main content */
.containerMain {
  text-align: center;
  position: relative;
  background-image: url("backLogoTrans.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 30px;
}

.homeBlurbs {
  display: block;
}

.aboutLogo {
  float: left;
}

.listingsPic {
  float: right;
}

.servicesPic {
  float: left;
}

.frontLogo {
  width: 25%;
}

/* featured proper slider */

.hero{

  position: relative;
  margin: 0 ;
  padding: 0;
  width: 100%;
  height: 400px;


}
.hero div{
position: relative;
height: 100%;
width: auto;
z-index: 999;
}


.featuredProperties{
  max-height: 400px;
  text-align: center;

}

  .sSlide {
    height: 500px;
    width: auto;
    overflow: hidden;
  }

.banner-glide{
  transition: transform 2.5s ease;
}
.banner-glide:hover{
  transform: skewY(40%);
}
.banner1{
  background-image: url("homeSlide/pic1.jpg");
}
.banner2{
  background-image: url("homeSlide/pic2.jpg");
}
.banner3{
  background-image: url("homeSlide/pic3.jpg");
}
.banner4{
  background-image: url("homeSlide/pic4.jpg");
}
.banner5{
  background-image: url("homeSlide/pic5.jpg");
}
.banner6{
  background-image: url("homeSlide/pic6.jpg");
}
.banner7{
  background-image: url("homeSlide/pic7.jpg");
}
.banner8{
  background-image: url("homeSlide/pic8.jpg");
}
.banner9{
  background-image: url("homeSlide/pic9.jpg");
}
.overlay{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(136, 165, 174, 0);
  z-index: 999;
}

.overlay h2{
  color: white;
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.overlay p{
  color: white;
  position: absolute;
  bottom: 5%;
  left: 10%;
}
