body{

}
p{
  font-size: 1.3em;
}
h4{
  font-size: 1.5em;
}

.filters{
  margin: 0 auto;
  text-align: center;
}
.propertyFilter{
display: inline-block;
background: rgba(18, 76, 94, 0.5);
}
.filterSelection{
  margin: 35px;
}
.propertyFilter:hover{
  cursor: pointer;
  background: rgba(18, 76, 94, 0.8);
}
.filerSelected{
  background: rgba(18, 76, 94, 0.8);
}

.rentSale{
  display: none;
}

.listings{
  margin-bottom: 30px;
}
.listing{

  display: grid;
  grid-template-columns: 40% 40% 20%;
  height: 400px;
  width: 90%;
  margin: 20px auto;
}
.listing iframe{
  border: 2px solid black;
}
.propertyImage{

position: absolute;
max-height: 100%;
width: 90%;

}
.propertyInfo{
  background-color: none;
  padding: 15px;
  margin: 0;
  top:0;
}
.propertyInfo h4{
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.img{
  position: relative;
  margin-bottom: 20px;
}
.hidden{

  height: 0;
}







@media screen and (max-width:1200px) {
  .listing{
    display: grid;
    grid-template-columns: 40% 40% 20%;
    height: auto;
    width: 90%;
    margin: 20px auto;

    
  }
}
